# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/

# Environments
.env
.venv
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
.python-version

# Model cache and Results
cache/
results/
